.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background: #ccc;
  width: 100%;
}

.logo a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.search_box {
  display: flex;
  align-items: center;
}

.search_box input {
  padding: 9px;
  width: 900px;
  background: #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  outline: none;
  flex: 1;
}

.search_box_icon{
  margin-left: 150px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.header-icons {
  display: flex;
  align-items: end;
  margin-left: 60rem;
}

.header-icons svg {
  width: 30px;
  height: 30px;
  margin-right: 2rem;
  cursor: pointer;
}

.account {
  display: flex;
  align-items: center;
  gap: 10px;
}
 .account img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
